*{
    font-family: Arial;
    margin: 0 auto;
    text-align: center;
  
  }
  body {
    margin-top: 50px
  }
  
  
  h1{
    color: salmon;
    border: 3px dashed salmon;
    padding: 10px 15px;
    width: 400px;
    border-radius: 30px;
    margin-bottom: 50px;
  
  
  }
  td {
  width: 100px ;
  height: 100px;
  background-color: rgba(6, 74, 6, 0.384);
  
  }
  th{
    background-color: rgba(18, 217, 151, 0.511);
    width: 150px ;
    padding: 15px
  }
  table {
    margin-bottom: 30px
  }
  
  .one {
    text-decoration: none;
    color:#fff;
    background-color: DodgerBlue;
    padding: 10px 15px;
    margin-right: 10px
  
  }
  .one:hover{
    background-color: RoyalBlue
  }
  